html
	head
		title= title
		link(href='/css/bootstrap.min.css' rel='stylesheet' type='text/css')
	body
		.container-fluid.theme-showcase(role='main')
			.row
				.col-md-6.col-md-offset-3
					h2.text-center
						span.glyphicon.glyphicon-exclamation-sign(aria-hidden='true')
						span  Access denied
					div(style="height: 2em")
						.alert.alert-danger Your IP address (#{showRejectedIp}) is not allowed to access this site.
