html
	head
		title= title
		link(href='/css/bootstrap.min.css' rel='stylesheet' type='text/css')
	body

	div(class='container theme-showcase' role='main')
			.row
				.col-md-6.col-md-offset-3
					|
					h1
					|
					.jumbotron
						.col
							.row
								h2.text-center
									span(class='glyphicon glyphicon-exclamation-sign' aria-hidden='true')
									span  Access denied

							.row
								div(style="height: 2em")
									div.alert.alert-danger Your IP address (#{showClientIP}) is not allowed to access this site.
										a.alert-link(href='http://www.oecd.org/')  Click here
										span  to visit OECD website.

							.row
								h2
