html
	head
		title= title
		link(href='/css/bootstrap.min.css' rel='stylesheet' type='text/css')
	body
		h1= message
		form(action='/code' method='post')
			input(type='text' name= inputFileName)
			input(type='submit' value='Dowload')
