html
	head
		title= title
		link(href='/css/bootstrap.min.css' rel='stylesheet' type='text/css')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' type='text/javascript')
		script.
			$(document).ready(function() {
				function hideMessage(selector) {
					$(selector).fadeTo(2000, 500).slideUp(500)
				}
				hideMessage('div.alert')
			})

	body

	div(class='container theme-showcase' role='main')
			.row
				.col-md-6.col-md-offset-3
					|
					h1 Dearchiver
					|
					.jumbotron
						.col
							.row
								div Welcome to the PAC Dearchiver. To get your files back, you need to enter a valid OECD/Kappa code, for example 102017011.

							.row
								h2 Enter OECD code

							.row
								form.navbar-form.navbar-left(action='' method='post')
									.col-lg-12
										.input-group.input-group-lg
											input.form-control(type='text' placeholder='Code goes here ...' name='blobFile' id='blobFile')
											span.input-group-btn
												button.btn.btn-default(type='submit') Go!

							.row
								div#messageContainer(style="height: 2em")
									if message == 'emptyCode'
										div.alert.alert-danger Please enter a code!
									if message == 'notFound'
										div.alert.alert-danger The code #{code} is not valid... Please, check!
									if message == 'success'
										div.alert.alert-success Downloading #{fileName}...
										script.
											var url = !{JSON.stringify(url)}
											window.location.href = url
